{% extends "base/master.html" %}

{% block body %}
<br><br><br><br><br><br>
<div class="super_container page_body_block">
    <form action="" method="post">
            <div class="container">
                <div class="card shadow col-md-5 ml-auto">
                    <div class="card-body">
                        <h6 class="text-center text-dark">Add-Passbook</h6></br>
                        <div>
                            <input type="text" name="sodu" class="form-control" placeholder="Charge Monney" required/> </br>
                        </div>
                        <div>
                            <input type="number" name="description" class="form-control" placeholder="Description" /> </br>
                        </div>
                        <div>
                            <input type="text" name="customer_id" class="form-control" placeholder="Address" /> </br>
                        </div>
                        </br>
                        <div class="col mr-auto ml-auto">
                            <input type="submit" value="Submit" class="btn btn-primary "/> |
                            <a type="button" href="{{ url_for('index') }}" class="btn btn-danger"/>Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<br><br>
{% endblock %}

<!--{% block footer%}-->
<!--{% endblock %}-->